.git
.gitignore
.aiignore
.DS_Store
.idea
.vscode
.task
**/.terraform/
**/.terragrunt-cache/
**/*.tfstate
**/*.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/.env
**/*.env
**/terragrunt-debug.tfvars.json
**/*.retry
/tools/bin
