# Provider Settings Environment Variables

# AWS
AWS_REGION=eu-central-1
S3_STATE_BUCKET=

# EKS
EKS_CLUSTER_NAME=

# Kubernetes
KUBECONFIG=~/.kube/config
KUBECONTEXT=

# Vault
VAULT_SERVER=
VAULT_TOKEN=

# Yandex Cloud
YC_TOKEN=
YC_CLOUD_ID=
YC_FOLDER_ID=
YC_ZONE=

# Temporal Cloud
TEMPORAL_CLOUD_API_KEY=

TAILSCALE_OAUTH_CLIENT_ID=
TAILSCALE_OAUTH_CLIENT_SECRET=

CERT_MANAGER_CONTACT_EMAIL=
